.makeFluidRow(){
    width: 100%;
    .clearfix();
}

.makeFluidCol(@span:1,@offset:0){
    float: left;
    #grid > .fluid .span(@span);
    #grid > .fluid .offset(@offset);
    &:first-child {
        margin-left: 0;
        .offsetFirstChild(@offset);
    }
}


.divider-bottom (@color: @grayLight, @shadow: @white) {
  border-bottom: 1px solid @color;
  box-shadow: 0px 1px 0px @shadow;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.divider-top (@color: @white, @shadow: @grayLight) {
  border-top: 1px solid @color;
  box-shadow: 0px -1px 0px @shadow;
  margin-top: 15px;
  padding-top: 15px;
}
