// Node Teasers
// --------------------------------------------------

// Teaser list
ul.teaser-list {
  ul.unstyled;
  > li {

    .divider-bottom();

    &:first-child {
      .divider-top();
    }

    .node-teaser {
      padding-bottom:20px;
      .field--type-link-field {
        .pull-right;
      }
    }
  }
}
