.l-header {
  .makeRow();

  .l-branding {
    .makeColumn(7);
  }
}

.l-main {
  .makeRow();

  .l-navigation {
    .makeColumn(16);
  }

  .l-region--sidebar-first {
    .makeColumn(4);
    .pull-left;
  }

  .l-content {
    .makeColumn(12);
    .pull-right;
    display: block;

    .l-entry-content{
      .makeRow();

      > .l-region--content-top,
      > article,
      > form,
      > .node--full,
      > .node-form,
      > .user-profile,
      > .view {
        .makeColumn(12);
      }
    }
  }

}

.l-footer {
  .makeRow();
  .l-region--footer {
    .makeColumn(16);
  }
}
